
# Task 7 — Basic Sales Summary (SQLite + Python)

This notebook:
- Connects to a tiny SQLite database (`sales_data.db`)
- Runs 1–2 SQL queries from Python
- Displays results and plots a **basic bar chart** using matplotlib

> Tip: Run cells sequentially from top to bottom.


## 1) Setup (once per environment)
Uncomment and run this cell if you need to install dependencies.

In [ ]:

# !pip install pandas matplotlib


## 2) Imports & Database Path
We use Python's built-in `sqlite3` plus `pandas` and `matplotlib`.

In [ ]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

DB_PATH = Path.cwd() / "sales_data.db"
print("DB exists:", DB_PATH.exists(), "\nPath:", DB_PATH)


## 3) Query: Revenue by Product
This SQL aggregates total quantity and revenue per product.

In [ ]:

conn = sqlite3.connect(DB_PATH)

query = '''
SELECT 
    product,
    SUM(quantity) AS total_qty,
    SUM(quantity * price) AS revenue
FROM sales
GROUP BY product
ORDER BY revenue DESC
'''
df = pd.read_sql_query(query, conn)
df


## 4) Overall Totals
Quick check of overall quantity and revenue.

In [ ]:

totals_q = "SELECT SUM(quantity) AS total_qty, SUM(quantity*price) AS total_revenue FROM sales"
totals = pd.read_sql_query(totals_q, conn)
totals


## 5) Plot: Revenue by Product
A simple bar chart (no special styles or colors).

In [ ]:

plt.figure()
plt.bar(df["product"], df["revenue"])
plt.xlabel("Product")
plt.ylabel("Revenue")
plt.title("Revenue by Product")
plt.xticks(rotation=45, ha="right")
plt.tight_layout()

# Save the chart alongside the notebook
out_path = Path.cwd() / "sales_chart.png"
plt.savefig(out_path)
print("Saved chart to:", out_path)

In [ ]:

conn.close()
print("Connection closed.")